.panel {
    display:flex;
    row-gap: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

form{
    min-width: 80%;
}

.div-botao-publicar {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.botao-publicar {
    width: 30%;
}