.panel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    min-width: 80%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 33%;
    align-items:center;
  }

  .container-botoes {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    margin:auto;
  }

  .ListaNome {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }

  .nome-nova-lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
  }

  .radio-privado-texto{
    font-weight: bold;
  }

  .radio-privado {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 10%;
  }

  .container img {
    position: relative;
    max-width: 350px;
    height: auto;
    border-radius: 25%;
  }

  .botao-acessar {
    min-width: 30%;
  }

  .link-botao {
    color: white;
    text-decoration: none;
  }

  .botao-criar {
    max-width: 30%
  }

  .botao-editar {
    width:50px;
    height: 50px;
    padding: 0;
  }

  .imagem-editar {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 2em;
    height: 2em;
    right: 650%;
  }

  .imagem-privacidade {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 2em;
    height: 2em;
    right: 650%;
  }

  .imagem-compartilhar {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 2em;
    height: 2em;
    right: 650%;
  }