.panel {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}

.container {
    position: relative;
    width: 20px;
  }

  .container img {
    width: 350px;
    height: auto;
  }

  .container .btn {
    position: absolute;
    top: 50%;
    left: 30%;
  }

  .link-botao {
    color: white;
    text-decoration: none;
  }