.panel {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}

.splitScreen{
    display:flex;
    flex-direction: row;
}
  
.leftPane{
    min-width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
  
.rightPane{
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
}