.panel {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
}

.splitScreen{
    display:flex;
    flex-direction: row;
}
  
.leftPane{
    min-width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
  
.rightPane{
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
}

.botao-deletar {
    display: flex;
    padding: 0;
    width: 3em;
}

.imagem-deletar {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 10px;
    height: 10px;
    overflow: hidden;
  }

  .imagem-deletar img {
    height: 100%;
  transform: translateX(-50%);
  margin-left: 50%;
  }

.titulo-lista {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    gap: 10px;
  }

  .negrito {
    color: black;
    font-weight: bold;
  }

  .confirmar {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .botao-confirmar {
    width: 50%;
    margin-right:auto;
  }