.image-upload {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    width: 50%;
}

.imagem {
    max-width: 500px;
}

.image-upload>input {
    visibility: hidden;
}
  
.form-produto {
    display:flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
    row-gap: 10px;
}

.botao-publicar {
    align-self: center;
    width: 30%;
}